.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: #7269FF 1px solid;
  padding: 0.5rem 1rem;
}
.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  color: black;
  text-decoration: none;
  margin: 0;
  gap: 0.5rem;
  padding: 0;
}
.navbar ul li {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  border: none;
}
.navbar ul li:hover {
  color: #7269FF;
  transition: 300ms;
}
.navbar ul a {
  color: inherit;
  text-decoration: none;
}

.card-container {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 0 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: white;
  border: solid 0.5px lightgray;
  padding: 16px;
  border-radius: 8px;
}

.card-detail {
  display: flex;
  flex-direction: column;
}
.card-detail .price {
  color: #7269FF;
  font-weight: bold;
}
.card-detail .card-btn {
  cursor: pointer;
  background-color: #7269FF;
  border-radius: 12px;
  outline: none;
  padding: 12px;
  box-shadow: none;
  color: white;
  font-weight: semibold;
  border: 0;
  -webkit-user-select: none; /* for button */
}

html[data-theme=dark] .card {
  background-color: #3a2870;
  border: #7269FF 0.5px solid;
}
html[data-theme=dark] .card .card-detail .card-title {
  color: white;
}
html[data-theme=dark] .card .card-detail .card-btn {
  background-color: white;
  color: #7269FF;
  font-weight: bold;
}

.card-img img {
  width: 12rem;
}

@media (max-width: 768px) {
  .card-container {
    padding: 0 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .card-img img {
    width: 100%;
    height: auto;
  }
}
.form-container {
  width: 28rem;
  background-color: white;
  padding: 1rem 2rem 2rem;
  margin: auto;
  border-radius: 16px;
  border: 1px solid #7269FF;
  margin-top: 4rem;
}
.form-container h2 {
  text-align: center;
  color: #7269FF;
}
.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.form-container form input {
  outline: none;
  padding: 12px;
  border: 1px solid #7269FF;
  border-radius: 12px;
  color: #7269FF;
  font-weight: bold;
}
.form-container form input::placeholder {
  font-weight: normal;
}
.form-container form label {
  color: #7269FF;
  font-weight: bold;
}
.form-container form .error-message {
  color: red;
  font-weight: semibold;
}
.form-container .input-container {
  display: flex;
  flex-direction: column;
}
.form-container .price-section {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.form-container .price-section .input-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.form-container .btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.form-container .btn-container button {
  width: 50%;
}

@media (max-width: 768px) {
  .form-container {
    width: 80%;
  }
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.5s;
}
.sidebar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.sidebar .header button {
  border: none;
  background-color: transparent;
  outline: none;
}
.sidebar .title {
  text-align: center;
}
.sidebar.open {
  width: 20rem;
}
.sidebar .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90%;
}
.sidebar .cardContainer {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.sidebar .paymentContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
}
.sidebar .paymentContainer .total {
  display: flex;
  justify-content: space-between;
}
.sidebar .paymentContainer .total span {
  font-weight: 700;
  font-size: 20px;
}

.item {
  display: flex;
  gap: 16px;
  border: 1px solid;
  justify-content: space-between;
  align-items: center;
}
.item .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.item .options {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.cover {
  width: 6rem;
}

body {
  background-color: #F2F2F2;
}

html[data-theme=dark] body {
  background-color: #1f1647;
}

.section-title {
  color: black;
}

html[data-theme=dark] .section-title {
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
